<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<title><%= title %></title>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body>

    <h3 class=""><%= name %></h3>

    <div class="blog-add">
        <div class="blog-textarea">
            <textarea name="" class="textarea-add" cols="30" rows="10"></textarea>
        </div>
        <p class="blog-action">
            <a class="btn-publish" href="javascript:;">发布</a>
        </p>
    </div>

    <div class="blog">
        <ul class="blog-list">
            <% for(var i=0; i<content.length; i++) { %>
                <li class="blog-item" data-id="<%= content[i]._id %>">
                    <p class="blog-content"><%- content[i].content %></p>
                    <p class="blog-extra">
                        <span class="date"><%= content[i].date %></span>
                        <a href="javascript:;" class="delete" data-content="<%= content[i].content %>">删除</a>
                        <a href="javascript:;" class="update" data-content="<%= content[i].content %>">更新</a>
                    </p>
                </li>
            <% } %>
        </ul>
    </div>


<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script>
$(function() {

    // 发布
    $('.btn-publish').on('click', function() {
        var blogContent = $('.textarea-add').val().trim().replace(/\n/g, '<br/>'),
            btnPublish = $(this);

        if (!blogContent) {
            alert('内容不能为空!');
            return;
        }

        var date = new Date(),
            yy = date.getFullYear(),
            MM = date.getMonth() + 1,
            dd = date.getDate(),
            hh = date.getHours(),
            mm = date.getMinutes(),
            ss = date.getSeconds();

        var postData = {
            'content': blogContent,
            'date': yy + '-' + MM + '-' + dd + ' ' + hh + ':' + mm + ':' + ss
        };

        if (btnPublish.hasClass('disabled')) {
            return;
        }

        btnPublish.addClass('disabled').html('发布中...');

        $.ajax({ 
            url: '/',
            type: 'post',
            data: postData,
            success: function(data){
                // alert('成功！');
                // location.href = '/';
                console.log(data);

                var newPost = {};

                if (data.statusCode === 200) {
                    $('.blog-list').prepend(createPost(data));
                    newPost.height = $('.blog-list .blog-item').eq(0).height();
                    $('.blog-list .blog-item').eq(0).css({height: 0, opacity: 0});
                    setTimeout(function() {
                        $('.blog-list .blog-item').eq(0).css({height: newPost.height, opacity: 1});
                        btnPublish.removeClass('disabled').html('发布成功');
                        $('.textarea-add').val('');
                        setTimeout(function(){
                            btnPublish.html('发布');
                        }, 1000);
                    }, 500);
                }
            },
            error: function(data){ 
                alert('发布失败！');
                location.href = 'error';
            }
        }); 

    });

    // 删除
    $(document).on('click', '.blog-item .delete', function() {
        var postItem = $(this).parents('.blog-item'),
            postId = postItem.attr('data-id');

        var postData = {
            'deleteId': postId
        };

        if (confirm('您确定要删除这条博客吗？')) {
            $.ajax({ 
                url: '/',
                type: 'post',
                data: postData,
                success: function(data){
                    // alert('成功！');
                    // location.href = '/';

                    if (data.statusCode === 200) {
                        postItem.css({height: 0, opacity: 0});
                        setTimeout(function() {
                            postItem.remove();
                        }, 500);
                    }
                },
                error: function(data){ 
                    // alert('失败！');
                    location.href = 'error';
                }
            }); 
        }
    });

    // 更新跳转
    $(document).on('click', '.blog-item .update', function() {
        var updateContent = $(this).attr('data-content'),
            postId = $(this).parents('.blog-item').attr('data-id');
        console.log(postId);
        location.href = '/update/' + postId;
    });

    function createPost(data) {
        var post = $('<li>'),
            postHtml = '';

        postHtml = '<p class="blog-content">' + data.content + '</p>' +
                    '<p class="blog-extra">' +
                        '<span class="date">' + data.date + '</span>' +
                        '<a href="javascript:;" class="delete" data-content="' + data.content + '">删除</a>' +
                        '<a href="javascript:;" class="update" data-content="' + data.content + '">更新</a>' +
                    '</p>';

        post.addClass('blog-item').attr('data-id', data._id).html(postHtml);

        return post;
    }

});
</script>

</body>

</html>